version: '3.9'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - TZ=Asia/Seoul
      - NODE_ENV=production
      - PORT=3000
    ports:
      - '3000:3000'
    restart: unless-stopped
